<div class="wrapper">
    <div class="container">
        <div class="ui">
            <div class="left-menu">
                <div>
                    <table class="table">
                        <tbody>
                        <tr data-ng-repeat="conversation in conversations" >

                            <td class="text-light">{{conversation.title}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
 

            </div>
            
            <div class="message-box">
                <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
                <button type="submit" class="message-submit">Send</button>
            </div>
        </div>
    </div>
</div>