<div class="wrapper">
    <div class="container">

    <div class="alert alert-info margin-top-5 col-sm-3 message" data-ng-show="message">{{message}}</div>

    <div>
        <table class="table">
            <tbody>
            <tr data-ng-repeat="friend in friends" >

                <td class="text-light">{{friend.user.icon}}</td>
                <td class="text-light">{{friend.user.username}}</td>
                <td><button data-ng-click="write(friend)" class="btn btn-secondary btn-sm">Write message!</button></td>
                <td><button data-ng-click="delete(friend)" class="btn btn-secondary btn-sm">Delete friend</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>