<div class="wrapperrrr">
        <header>
            <h1>Register</h1>
        </header>
        <section>
            <div class="form">
                <div class="input-item">
                    <div class="label-part">
                        <label for="name">Name</label>
                    </div>
                    <div class="input-part">
                        <input type="text" autocomplete="off" id="name" value={{user.name}} />
                    </div>
                </div>
                <div class="input-item">
                    <div class="label-part">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-part">
                        <input type="text" autocomplete="off" id="email"  value={{user.email}} />
                    </div> 
                </div>
                <div class="input-item">
                    <div class="label-part">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-part">
                        <input type="text" autocomplete="off" id="username" value={{user.username}} />
                    </div>
                </div>
                <div class="input-item password">
                    <div class="label-part">
                        <label for="password">Password</label>
                    </div>
                    <div class="input-part">
                        <input type="password" id="password" value={{user.password}} />
                        <span>Minimum 6 characters</span>
                    </div>
                </div>
                
            </div>
        </section>
        <footer>
            <a href="javascript:;" class="cancel">Cancel</a>
            <a href="javascript:;" class="save">Save </a>
        </footer>
</div>